# 依存関連 / ビルド
dist/

node_modules/

*.tsbuildinfo

# セキュリティ関連
.env

*.pem

*.key

id_rsa

# ログ / 一時ファイル
*.log

*.tmp

# サムネイルなど
Thumbs.db

# prisma
**/generated/prisma

# prisma に付属したエージェントスキルの md ファイル
skills/
.agents/
.claude/
.windsurf/
skills-lock.json